<a href="https://colab.research.google.com/github/MuniDataEngineer/Pyspark/blob/dev_28thApril2025/HelloSpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creating Sparksession

In [ ]:
import pyspark

sc = pyspark.SparkContext()

In [ ]:
spark = pyspark.sql.SparkSession.builder.master("local[2]").appName("HelloSpark").getOrCreate()

In [16]:
df = spark.read.json('/content/Pyspark/titanic.json')

In [14]:
df.show()

+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
| Age|Cabin|Embarked|   Fare|                Name|Parch|PassengerId|Pclass|   Sex|SibSp|Survived|          Ticket|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
|22.0| NULL|       S|   7.25|Braund, Mr. Owen ...|    0|          1|     3|  male|    1|       0|       A/5 21171|
|38.0|  C85|       C|71.2833|Cumings, Mrs. Joh...|    0|          2|     1|female|    1|       1|        PC 17599|
|26.0| NULL|       S|  7.925|Heikkinen, Miss. ...|    0|          3|     3|female|    0|       1|STON/O2. 3101282|
|35.0| C123|       S|   53.1|Futrelle, Mrs. Ja...|    0|          4|     1|female|    1|       1|          113803|
|35.0| NULL|       S|   8.05|Allen, Mr. Willia...|    0|          5|     3|  male|    0|       0|          373450|
|NULL| NULL|       Q| 8.4583|    Moran, Mr. James|    0|          6|     3|  male|    0|       0|          330877|
|54.0|  E46|       S|51.8625|McCarthy, Mr. Tim...|    0|          7|     1|  male|    0|       0|           17463|
| 2.0| NULL|       S| 21.075|Palsson, Master. ...|    1|          8|     3|  male|    3|       0|          349909|
|27.0| NULL|       S|11.1333|Johnson, Mrs. Osc...|    2|          9|     3|female|    0|       1|          347742|
|14.0| NULL|       C|30.0708|Nasser, Mrs. Nich...|    0|         10|     2|female|    1|       1|          237736|
| 4.0|   G6|       S|   16.7|Sandstrom, Miss. ...|    1|         11|     3|female|    1|       1|         PP 9549|
|58.0| C103|       S|  26.55|Bonnell, Miss. El...|    0|         12|     1|female|    0|       1|          113783|
|20.0| NULL|       S|   8.05|Saundercock, Mr. ...|    0|         13|     3|  male|    0|       0|       A/5. 2151|
|39.0| NULL|       S| 31.275|Andersson, Mr. An...|    5|         14|     3|  male|    1|       0|          347082|
|14.0| NULL|       S| 7.8542|Vestrom, Miss. Hu...|    0|         15|     3|female|    0|       0|          350406|
|55.0| NULL|       S|   16.0|Hewlett, Mrs. (Ma...|    0|         16|     2|female|    0|       1|          248706|
| 2.0| NULL|       Q| 29.125|Rice, Master. Eugene|    1|         17|     3|  male|    4|       0|          382652|
|NULL| NULL|       S|   13.0|Williams, Mr. Cha...|    0|         18|     2|  male|    0|       1|          244373|
|31.0| NULL|       S|   18.0|Vander Planke, Mr...|    0|         19|     3|female|    1|       0|          345763|
|NULL| NULL|       C|  7.225|Masselmani, Mrs. ...|    0|         20|     3|female|    0|       1|            2649|
+----+-----+--------+-------+--------------------+-----+-----------+------+------+-----+--------+----------------+
only showing top 20 rows